node_modules/
.vscode/
.eslintrc
!Icon

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Unit test
node/.scannerwork/
node/coverage/